/* Ajouts pour la galerie d'images */
.navbar{
    height: 100px;
}
#main-page {
    width: 650px;
    text-align: center;
    font-weight: bold;
}
.active-tab {
    background-color: #f0f0f0; /* Ajoutez la couleur de fond grise que vous souhaitez */
    border-radius: 5px; /* Ajoutez une bordure arrondie pour adoucir l'apparence */
    height: 100%;
    width: 100%;
}



* {box-sizing:border-box}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  text-align: center; /* Centre le contenu à l'intérieur du container */
}

.mySlides {
  opacity: 0;
  transition: opacity 0s ease-in-out;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.8s;
  animation-name: fade;
  animation-duration: 1.8s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
